<%= content_tag_for(:tr, membership) do %>
    <td><%= membership.title %></td>
    <td>
      <p><%= membership.description %></p>
      <% privileges = { :swimming => membership.swimming, :sauna => membership.sauna, :tennis => membership.tennis, :guests => membership.guests } %>
			<table style="width: 100%;">
				<% privileges.each do |key, value| %>
					<tr style="background-color:<%= cycle('#e7e4f9', '#f9f2e4', :name => 'rows') %>;">
					  <td><%= key.capitalize %></td>
					  <td><%= display_privilege(value, membership) %></td>
					</tr>
				<% end %>
				<% reset_cycle('rows') %>
			</table>
    </td>
    <td><%= membership.price %></td>
    <td>
      <% if signed_in? && !current_user.has_subscription? || !signed_in? %>
        <h5><%= link_to 'Purchase!', purchase_path(membership), :remote => true %></h5>
      <% end %>
      <% if signed_in? and current_user.admin? %>
      <%= link_to 'Show', membership %>
      <%= link_to 'Edit', edit_membership_path(membership) %>
      <%= link_to 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
<% end %>

