<%= content_tag_for(:tr, user) do %>
    <td><%= user.full_name %></td>
    <td><%= user.email %></td>
    <td><%= user.has_subscription? %></td>
    <td>
      <%= link_to 'Show', user %>
      <%= link_to 'Edit', edit_user_path(user) %>
      <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
    </td>
<% end %>

