<div class="span-12">
 <h1>Admin Control Panel</h1>
 <fieldset class="box">
   <legend>News Panel</legend>
     <%= link_to "Add", new_post_path %>
     <%= link_to "List", posts_path %>
  </fieldset>

  <fieldset class="box">
    <legend>Users Panel</legend>
     <%= link_to "Add", new_user_path %>
     <%= link_to "List", users_path %>
  </fieldset>

  <fieldset class="box">
    <legend>Memberships Panel</legend>
     <%= link_to "Add", new_membership_path %>
     <%= link_to "List", memberships_path %>
   </fieldset>

  <fieldset class="box">
    <legend>Activities Panel</legend>
     <%= link_to "Add", new_activity_path %>
     <%= link_to "List", activities_path %>
   </fieldset>

</div>

<div class="span-12 last">
  <h1>Account Info</h1>


</div>

