<div class="span-12">
<h1><%= @user.full_name %>'s Profile</h1>


<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Registered:</b>
  <%= @user.created_at %>
</p>

</div>

<div class="span-12">
<h1>Recent Bookings</h1>

  <% @user.bookings.each do |booking| %>
    <%= booking.created_at %>
  <% end %>

</div>

<% if signed_in? and current_user?(@user) %>

<div class="span-12 last">


  <h1>Membership</h1>
  <% if !current_user.has_subscription? %>
    <h2>Purchase a membership now!</h2>
  <% else %>
    <fieldset class="box">
   <legend>Membership Options</legend>
     <%= link_to "Cancel", '#' %>
   </fieldset>

  <fieldset class="box">
   <legend>Booking Options</legend>
      <%= link_to "New Booking", '#' %>
     <%= link_to "List History", '#' %>
   </fieldset>
   <% end %>

</div>

<% end %>

