 <div class="span-12">

<% if current_user.admin? %>
<h1>New post</h1>

  <%= form_for(@post, :remote => true) do |f| %>

    <%= render 'form', :f => f %>
    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
<% end %>


</div>

<div class="span-12">

  <h1>Listing posts</h1>

  <ul id="posts">
    <%= render @posts %><!-- it knows to render _post.html.erb -->
  </ul>

  <br />

  <%= link_to 'New Post', new_post_path %>

</div>

