

  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :limit %><br />
    <%#= f.text_field :limit %>
    <%= f.select :limit, Activity::LIMIT, :prompt => "Max Swimmers" %><br/>
  </div>

  <div class="field">
    <%= f.label :start %><br />
    <%#= f.datetime_select :start %>
    <%= datetime_select("activity", "start", :default => Date.current, :order => [:day, :month, :year]) %>
  </div>

  <div class="field">
    <%= f.label :end %><br />
    <%#= f.datetime_select :end %>
    <%= datetime_select("activity", "end", :default => Date.current, :order => [:day, :month, :year]) %>
  </div>

