<% if signed_in? && current_user.admin %>
  <div class="span-24">
  <%= form_for(@activity, :remote => true) do |f| %>
  <%= render 'form', :f => f %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
<% end %>


<div class="span-24">

  <h1>Listing activities</h1>

  <table>
    <tr id="activities">
      <th>Title</th>
      <th>Description</th>
      <th>Limit</th>
      <th>Starts</th>
      <th>Ends</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render @activities  %><!-- it knows to render _activity.html.erb -->
  </table>

  <br />

  <% if signed_in? && current_user.admin? %>
  <%= link_to 'New Activity', new_activity_path %>
  <% end %>
</div>

