
<p>
  <b>Title:</b>
  <%= @activity.title %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Limit:</b>
  <%= @activity.limit %>
</p>

<p>
  <b>Starts:</b>
  <%= @activity.start %>
</p>

<p>
  <b>Ends:</b>
  <%= @activity.end %>
</p>

<p>
  <b>People who booked for this session:</b>

  <ul>
  <% @activity.users.each do |user| %>
    <% user.bookings.each do |booking| %>
      <% if booking.activity == @activity %>
        <li><h5><%= link_to user.full_name, user %> booked for this session: <%= time_ago_in_words(booking.created_at)%> ago.</h5></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>

